# === Backend ===
ENVIRONMENT=production
DATABASE_URL=postgresql://fiscal_user:${FISCAL_DB_PASSWORD}@postgres:5432/fiscal_homol?sslmode=disable
SERVER_PORT=3001
URL_CORS=https://fiscal-st.duckdns.org
AUTH_SECRET=coloque-uma-senha-forte-aqui

# === Frontend ===
NEXT_PUBLIC_API_URL=https://fiscal-st.duckdns.org
NEXTAUTH_URL=https://fiscal-st.duckdns.org
NEXTAUTH_SECRET=coloque-uma-senha-forte-aqui
